@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  margin: 0;
}

body {
  color: #FFFFFF;
  font-family: 'Raleway';
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // border: 3px solid #2d3250;
  background-color: #F9B17A;
}

body::-webkit-scrollbar-track {
  background-color: #2d3250;
}
