.swiper {
  padding: 32px;
  background-image: url('../images/background.jpg');

}

.swiper-wrapper {
  height: 300px;
  /* width: 1000%; */
  /* width: 1000%; */
}

.swiper-wrapper:hover {
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  border: 0px solid #2d3250;
  border-radius: 10px;
  box-shadow: 0 0 80px 22px #1d2137;
  width: 500px;
  /* height: 100px; */
  transition-property: height, box-shadow, width;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.swiper-slide:hover {
  height: 103%;
  width: 29%;
  box-shadow: 0 0 100px 4px #000000;
}

/* .swiper-slide.slide1 {
  width: 20px;
} */

.swiper-slide a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #F9B17A;
}

.swiper-button-next, .swiper-button-prev {
  color: #F9B17A;
}

@media screen and (max-width: 360px) {
  .swiper-wrapper {
    height: 20vh;
    /* width: 200px2; */
  }

  .swiper-wrapper:hover {
    height: 160px;
  }

  .swiper-slide {
    width: 10px;
  }

  .swiper-slide a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 360px) and (max-width: 599px) {
  .swiper-wrapper {
    height: 20vh;
    /* width: 200px2; */
  }

  .swiper-wrapper:hover {
    height: 160px;
  }

  .swiper-slide {
    width: 10px;
  }

  .swiper-slide a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}